@media only screen and (min-width: 0px) and (max-width: 767px) {
.nav {
font-size: .9rem !important;
}
 footer {
margin-top: 4rem !important;
font-size: .9rem;
}

.column {
width: 100%;
padding: 50px 0;
}

.title_hero_about {
font-size: 2rem;
line-height: 52px;
}

.title_hero {
    font-size: 2.8rem;
    margin-bottom: 10px !important;
}

.text_hero {
    font-size: 1rem;
}

.button-hero {
    margin-top: 35px !important;
    height: 45px !important;
}

.reverse{
    display: flex;
    flex-direction: column-reverse;
}

.no_padding_img{
    padding-top: 0;
}
.column_imgs {
    width: 100%;
        margin: 25px 0 !important;
}

}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
.column {
width: 100%;
padding: 50px 0;
}

.title_hero_about{
font-size: 2.6rem ;
margin-bottom: 15px !important;
}

.text_hero {
    font-size: 1.1rem;
}
.column_imgs {
    width: 100%;
    margin: 25px 0 !important;
}
}

@media only screen and (min-width: 1001px) and (max-width: 1280px) {
.title_hero {
    font-size: 3rem;
}

.column_imgs {
    width: 50%;
}
}